# ***Pulizia Dati Final Assignments***

### Librerie

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

### Dati

In [5]:
var_raw=pd.read_csv("C:\\Users\\Dell\\Desktop\\Final_Assignments_DataViz\\data\\variables.csv")

In [6]:
var_raw.sample(5)

,Name,Label,Country_specific,Scale_type,Type,Format,Valid,Invalid,Question,Group
138,rlgdelt,"Religion or denomination belonging to in the past, Lithuania",yes,nominal,discrete,numeric-4.0,26,44361,C14LT Which one? (Lithuania),"Group Subjective well-being, social exclusion, religion, national and ethnic identity"
175,rfgbfml,Granted refugees should be entitled to bring close family members,no,ordinal,discrete,numeric-1.0,41401,2986,rfgbfml?,"Group Subjective well-being, social exclusion, religion, national and ethnic identity"
225,bennent,Many manage to obtain benefits/services not entitled to,no,ordinal,discrete,numeric-1.0,41485,2902,"E16-18 Using this card, please say how much you agree or disagree with each of the following statements about people in [country]. Many people manage to obtain benefits and services to which they are not entitled.",Group Welfare attitudes
230,ub50pay,"Someone in their 50s, unemployment benefit if turn down job: less pay",no,ordinal,discrete,numeric-1.0,10256,34131,ub50pay?,Group Welfare attitudes
289,rshpsfi,"Relationship with husband/ wife/partner currently living with, Finland",yes,nominal,discrete,numeric-2.0,1186,43201,F6FI You just told me that you live with your husband/wife/partner. Which one of the descriptions on this card describes your relationship to them? (Finland),Group Socio-demographics

In [8]:
climate_raw=pd.read_csv("C:\\Users\\Dell\\Desktop\\Final_Assignments_DataViz\\data\\Climate Data Clean.csv")

In [9]:
climate_raw.sample(5)

,Unnamed: 0,name,essround,edition,proddate,idno,cntry,eneffap,rdcenr,cflsenr,elgcoal,elgngas,elghydr,elgnuc,elgsun,elgwind,elgbio,wrpwrct,wrenexp,wrdpimp,wrdpfos,wrntdis,wrinspw,wrtcfl,wrtratc,clmchng,clmthgt1,clmthgt2,ccnthum,ccrdprs,wrclmch,ccgdbd,lkredcc,lklmten,gvsrdcc,ownrdcc,inctxff,sbsrnen,banhhap
29484,29484,ESS8e02_1,8,2.1,01.12.2018,2716.0,Italy,5.0,4.0,5.0,3.0,2.0,1.0,3.0,1.0,1.0,4.0,1,4,3,4,3,3,3,1,1,6,2,4.0,7.0,5,6.0,6.0,5.0,5.0,6.0,2,2,2
29388,29388,ESS8e02_1,8,2.1,01.12.2018,2522.0,Italy,10.0,6.0,0.0,4.0,4.0,4.0,5.0,1.0,1.0,1.0,1,1,1,3,2,2,2,3,1,6,3,4.0,NaN,3,2.0,7.0,3.0,NaN,8.0,4,1,4
1957,1957,ESS8e02_1,8,2.1,01.12.2018,3859.0,Austria,8.0,4.0,5.0,5.0,4.0,1.0,5.0,1.0,1.0,2.0,2,3,3,4,2,2,2,3,2,6,4,4.0,9.0,3,3.0,5.0,3.0,0.0,0.0,4,2,3
1701,1701,ESS8e02_1,8,2.1,01.12.2018,3373.0,Austria,4.0,1.0,4.0,5.0,5.0,1.0,5.0,1.0,1.0,3.0,1,1,1,1,1,1,1,1,3,6,1,2.0,1.0,1,0.0,1.0,0.0,0.0,0.0,3,3,3
5969,5969,ESS8e02_1,8,2.1,01.12.2018,1034.0,Czechia,6.0,4.0,6.0,4.0,3.0,3.0,4.0,5.0,4.0,4.0,3,2,4,3,3,3,3,3,2,6,3,2.0,4.0,4,6.0,5.0,6.0,4.0,5.0,4,4,4

In [10]:
climate_raw.head(5)

,Unnamed: 0,name,essround,edition,proddate,idno,cntry,eneffap,rdcenr,cflsenr,elgcoal,elgngas,elghydr,elgnuc,elgsun,elgwind,elgbio,wrpwrct,wrenexp,wrdpimp,wrdpfos,wrntdis,wrinspw,wrtcfl,wrtratc,clmchng,clmthgt1,clmthgt2,ccnthum,ccrdprs,wrclmch,ccgdbd,lkredcc,lklmten,gvsrdcc,ownrdcc,inctxff,sbsrnen,banhhap
0,0,ESS8e02_1,8,2.1,01.12.2018,1.0,Austria,8.0,4.0,10.0,5.0,5.0,1.0,5.0,1.0,1.0,1.0,2,3,4,4,2,2,2,3,1,6,4,4.0,8.0,4,10.0,10.0,0.0,0.0,0.0,1,1,2
1,1,ESS8e02_1,8,2.1,01.12.2018,2.0,Austria,10.0,5.0,3.0,5.0,2.0,2.0,5.0,2.0,5.0,5.0,1,2,2,3,1,1,2,2,1,6,4,4.0,7.0,4,2.0,8.0,3.0,4.0,6.0,1,2,2
2,2,ESS8e02_1,8,2.1,01.12.2018,4.0,Austria,9.0,4.0,3.0,5.0,4.0,2.0,5.0,1.0,1.0,4.0,3,4,3,3,3,2,3,3,1,6,4,4.0,8.0,4,2.0,6.0,1.0,3.0,1.0,4,2,2
3,3,ESS8e02_1,8,2.1,01.12.2018,6.0,Austria,10.0,4.0,7.0,3.0,3.0,3.0,4.0,2.0,3.0,4.0,2,2,2,2,3,3,3,3,2,6,3,3.0,6.0,3,7.0,5.0,6.0,5.0,6.0,3,3,3
4,4,ESS8e02_1,8,2.1,01.12.2018,10.0,Austria,10.0,6.0,10.0,5.0,2.0,3.0,3.0,1.0,1.0,3.0,1,1,1,3,1,1,4,5,1,6,2,4.0,6.0,4,5.0,10.0,10.0,2.0,7.0,3,1,4

In [11]:
climate=climate_raw.copy()

In [12]:
var=var_raw.copy()

### Pulizia prime colonne

In [13]:
climate.iloc[:, :5].info()

<class 'pandas.DataFrame'>
RangeIndex: 44387 entries, 0 to 44386
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  44387 non-null  int64
 1   name        44387 non-null  str
 2   essround    44387 non-null  int64
 3   edition     44387 non-null  float64
 4   proddate    44387 non-null  str
dtypes: float64(1), int64(2), str(2)
memory usage: 1.7 MB

In [14]:
climate["name"].value_counts()

name
ESS8e02_1    44387
Name: count, dtype: int64

In [15]:
climate["essround"].value_counts()

essround
8    44387
Name: count, dtype: int64

In [16]:
climate["edition"].value_counts()

edition
2.1    44387
Name: count, dtype: int64

In [17]:
climate["proddate"].value_counts()

proddate
01.12.2018    44387
Name: count, dtype: int64

In [18]:
climate.drop(columns=["Unnamed: 0", "name", "essround", "edition", "proddate"], inplace=True)

In [19]:
climate["idno"].value_counts()

idno
461.0     15
1146.0    15
1752.0    15
94.0      14
561.0     14
          ..
3769.0     1
3776.0     1
3806.0     1
3822.0     1
3717.0     1
Name: count, Length: 18323, dtype: int64

In [20]:
climate[climate["idno"]==461.0] # univoco all'interno dei paesi, possono ripetersi ma non si riferiscono alla stessa persona

,idno,cntry,eneffap,rdcenr,cflsenr,elgcoal,elgngas,elghydr,elgnuc,elgsun,elgwind,elgbio,wrpwrct,wrenexp,wrdpimp,wrdpfos,wrntdis,wrinspw,wrtcfl,wrtratc,clmchng,clmthgt1,clmthgt2,ccnthum,ccrdprs,wrclmch,ccgdbd,lkredcc,lklmten,gvsrdcc,ownrdcc,inctxff,sbsrnen,banhhap
251,461.0,Austria,9.0,3.0,5.0,4.0,3.0,2.0,5.0,2.0,2.0,3.0,1,3,3,3,3,1,3,4,2,6,3,3.0,7.0,3,3.0,3.0,1.0,2.0,3.0,4,1,4
2280,461.0,Belgium,10.0,6.0,8.0,5.0,4.0,1.0,5.0,2.0,2.0,3.0,1,5,4,3,1,2,1,1,1,6,3,5.0,7.0,3,2.0,6.0,5.0,3.0,7.0,3,2,2
3932,461.0,Switzerland,NaN,2.0,5.0,5.0,3.0,2.0,4.0,2.0,2.0,3.0,2,2,2,2,2,2,2,2,2,6,4,4.0,3.0,4,5.0,7.0,1.0,5.0,5.0,3,2,2
5589,461.0,Czechia,7.0,4.0,6.0,4.0,3.0,2.0,2.0,3.0,3.0,3.0,4,3,4,3,3,4,4,3,2,6,2,3.0,7.0,4,7.0,5.0,7.0,6.0,7.0,2,3,3
12692,461.0,Spain,7.0,2.0,2.0,5.0,5.0,2.0,5.0,1.0,1.0,NaN,2,4,2,3,1,1,1,2,1,6,3,3.0,3.0,3,2.0,0.0,0.0,0.0,0.0,5,1,1
16582,461.0,France,8.0,6.0,8.0,4.0,3.0,2.0,4.0,2.0,2.0,2.0,2,5,4,4,4,3,2,4,1,6,3,3.0,7.0,3,2.0,6.0,2.0,3.0,5.0,3,1,2
20556,461.0,Hungary,8.0,4.0,5.0,4.0,3.0,1.0,3.0,2.0,1.0,4.0,3,3,3,2,1,2,2,2,2,6,2,2.0,3.0,3,0.0,6.0,7.0,5.0,2.0,5,2,2
22321,461.0,Ireland,2.0,4.0,3.0,3.0,2.0,1.0,5.0,2.0,1.0,4.0,2,3,4,3,5,2,2,2,2,6,2,3.0,6.0,3,3.0,4.0,5.0,6.0,5.0,4,1,4
25068,461.0,Israel,10.0,3.0,6.0,4.0,1.0,5.0,5.0,2.0,5.0,NaN,2,2,2,2,2,2,2,2,8,6,1,NaN,0.0,2,NaN,NaN,NaN,NaN,NaN,2,1,1
28383,461.0,Italy,10.0,4.0,9.0,5.0,5.0,1.0,NaN,1.0,1.0,1.0,2,3,3,3,3,3,3,2,1,6,3,5.0,2.0,3,8.0,8.0,4.0,8.0,5.0,4,2,2
31247,461.0,Lithuania,9.0,4.0,3.0,4.0,1.0,2.0,1.0,4.0,2.0,3.0,2,5,2,3,2,3,4,2,2,6,2,3.0,NaN,2,4.0,3.0,5.0,7.0,2.0,5,5,5
34832,461.0,Norway,3.0,2.0,8.0,5.0,NaN,2.0,5.0,2.0,2.0,3.0,5,4,2,3,5,3,4,5,1,6,5,3.0,6.0,4,3.0,5.0,4.0,4.0,1.0,2,2,4
39281,461.0,Russian Federation,7.0,3.0,7.0,4.0,3.0,4.0,3.0,2.0,2.0,3.0,1,3,1,1,1,1,1,1,2,6,2,3.0,3.0,8,3.0,6.0,5.0,5.0,3.0,2,4,3
41741,461.0,Sweden,8.0,4.0,9.0,5.0,4.0,2.0,2.0,3.0,3.0,4.0,2,3,2,4,1,2,2,3,2,6,3,4.0,10.0,3,3.0,8.0,7.0,4.0,8.0,2,2,2
43540,461.0,Slovenia,7.0,3.0,5.0,3.0,3.0,2.0,3.0,2.0,2.0,2.0,2,4,2,2,3,3,3,3,2,6,2,3.0,5.0,3,3.0,7.0,5.0,5.0,4.0,3,2,2

In [21]:
duplicates = climate[climate[['cntry', 'idno']].duplicated(keep=False)]
duplicates #riguarda solo gli idno Nan, non c' problema

,idno,cntry,eneffap,rdcenr,cflsenr,elgcoal,elgngas,elghydr,elgnuc,elgsun,elgwind,elgbio,wrpwrct,wrenexp,wrdpimp,wrdpfos,wrntdis,wrinspw,wrtcfl,wrtratc,clmchng,clmthgt1,clmthgt2,ccnthum,ccrdprs,wrclmch,ccgdbd,lkredcc,lklmten,gvsrdcc,ownrdcc,inctxff,sbsrnen,banhhap
2041,NaN,Belgium,10.0,4.0,7.0,3.0,3.0,1.0,5.0,1.0,1.0,1.0,3,4,4,3,3,3,3,3,1,6,4,4.0,8.0,4,2.0,8.0,2.0,5.0,7.0,2,1,1
2054,NaN,Belgium,9.0,4.0,5.0,4.0,4.0,3.0,2.0,2.0,2.0,2.0,2,4,2,2,2,2,2,3,1,6,2,4.0,3.0,2,2.0,4.0,4.0,4.0,4.0,1,1,1
2063,NaN,Belgium,8.0,5.0,7.0,3.0,2.0,4.0,2.0,2.0,2.0,3.0,4,4,3,4,2,3,3,5,1,6,3,4.0,6.0,4,2.0,8.0,7.0,6.0,4.0,4,2,3
3796,NaN,Switzerland,9.0,6.0,7.0,5.0,5.0,2.0,4.0,1.0,1.0,3.0,2,3,2,3,3,3,2,2,1,6,3,3.0,8.0,4,8.0,8.0,8.0,6.0,6.0,8,2,2
3806,NaN,Switzerland,10.0,3.0,10.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,2,3,4,3,2,4,4,2,2,6,3,4.0,8.0,3,0.0,5.0,5.0,8.0,4.0,2,2,1
5335,NaN,Czechia,7.0,4.0,2.0,5.0,3.0,2.0,1.0,1.0,2.0,5.0,2,5,4,3,5,8,2,5,1,6,4,3.0,3.0,4,4.0,6.0,2.0,5.0,3.0,5,5,5
5341,NaN,Czechia,10.0,4.0,6.0,3.0,4.0,1.0,1.0,2.0,4.0,4.0,2,3,3,3,2,1,2,4,2,6,4,3.0,5.0,4,3.0,5.0,4.0,7.0,4.0,4,1,1
5348,NaN,Czechia,7.0,3.0,9.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2,5,5,2,2,2,2,2,2,6,2,3.0,2.0,2,2.0,2.0,2.0,6.0,3.0,4,3,4
5355,NaN,Czechia,NaN,3.0,NaN,NaN,3.0,2.0,3.0,2.0,2.0,4.0,1,1,1,1,1,1,1,1,8,6,1,3.0,0.0,1,NaN,2.0,4.0,NaN,NaN,8,2,8
16353,NaN,France,2.0,2.0,0.0,4.0,3.0,2.0,5.0,2.0,2.0,1.0,3,3,2,2,2,3,3,4,1,6,4,4.0,8.0,3,4.0,4.0,3.0,4.0,4.0,4,3,5
16361,NaN,France,7.0,3.0,6.0,3.0,3.0,2.0,4.0,3.0,3.0,3.0,3,3,3,3,3,3,3,3,2,6,3,3.0,5.0,3,5.0,6.0,4.0,3.0,4.0,3,3,3
16369,NaN,France,6.0,4.0,6.0,5.0,4.0,2.0,4.0,2.0,2.0,2.0,3,3,3,3,4,4,3,4,2,6,3,3.0,5.0,2,5.0,6.0,4.0,5.0,3.0,2,4,2
16376,NaN,France,10.0,5.0,7.0,5.0,3.0,2.0,2.0,2.0,2.0,3.0,2,3,3,3,4,3,3,4,2,6,3,3.0,7.0,3,6.0,8.0,7.0,6.0,7.0,4,2,1
16382,NaN,France,10.0,5.0,9.0,5.0,4.0,3.0,4.0,2.0,2.0,2.0,2,2,3,3,4,4,3,4,1,6,3,4.0,6.0,3,8.0,4.0,6.0,5.0,4.0,4,2,2
20384,NaN,Hungary,5.0,5.0,3.0,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1,1,1,1,8,8,8,1,8,6,1,1.0,0.0,1,NaN,0.0,0.0,0.0,0.0,8,8,8
20391,NaN,Hungary,10.0,4.0,10.0,3.0,4.0,1.0,5.0,1.0,1.0,1.0,5,1,3,5,5,4,4,3,3,6,3,3.0,8.0,4,8.0,6.0,3.0,3.0,4.0,5,1,1
20404,NaN,Hungary,10.0,3.0,2.0,3.0,5.0,1.0,5.0,1.0,1.0,3.0,2,2,2,3,3,3,3,3,3,6,1,3.0,0.0,3,4.0,7.0,NaN,2.0,6.0,3,1,5
22014,NaN,Ireland,4.0,2.0,4.0,3.0,4.0,2.0,5.0,3.0,2.0,4.0,2,2,3,3,3,2,2,2,2,6,3,4.0,4.0,3,6.0,7.0,8.0,7.0,6.0,4,2,3
22036,NaN,Ireland,6.0,4.0,6.0,3.0,3.0,3.0,5.0,4.0,3.0,4.0,4,2,3,3,3,3,4,3,2,6,3,3.0,6.0,3,6.0,5.0,5.0,6.0,6.0,4,3,2
22046,NaN,Ireland,5.0,5.0,7.0,3.0,4.0,3.0,5.0,3.0,2.0,2.0,2,4,4,3,3,3,3,2,2,6,4,4.0,8.0,4,6.0,5.0,7.0,8.0,5.0,4,3,2
24776,NaN,Israel,8.0,5.0,3.0,4.0,3.0,2.0,5.0,2.0,2.0,4.0,3,2,2,3,2,2,2,3,3,6,2,2.0,0.0,2,3.0,3.0,6.0,5.0,0.0,5,1,1
24784,NaN,Israel,10.0,4.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4,3,4,5,4,5,4,5,1,6,3,3.0,1.0,3,1.0,7.0,6.0,7.0,4.0,1,1,1
24801,NaN,Israel,10.0,4.0,4.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3,4,4,4,4,4,4,4,1,6,1,5.0,7.0,2,0.0,3.0,0.0,3.0,0.0,5,2,1
28186,NaN,Italy,9.0,3.0,6.0,5.0,3.0,2.0,5.0,1.0,1.0,3.0,1,3,3,3,3,2,2,2,1,6,2,3.0,7.0,3,4.0,4.0,2.0,7.0,3.0,1,1,2
28197,NaN,Italy,10.0,5.0,8.0,5.0,3.0,1.0,5.0,1.0,1.0,3.0,2,2,3,4,2,2,2,2,1,6,3,5.0,8.0,4,3.0,8.0,8.0,1.0,5.0,3,2,2
30841,NaN,Lithuania,10.0,3.0,5.0,3.0,2.0,2.0,3.0,2.0,2.0,1.0,1,4,5,5,3,3,3,2,1,6,2,3.0,2.0,3,1.0,4.0,3.0,2.0,2.0,3,2,4
30852,NaN,Lithuania,10.0,4.0,2.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,4,4,4,4,4,3,3,2,2,6,4,3.0,10.0,4,10.0,8.0,2.0,0.0,0.0,2,3,3
30863,NaN,Lithuania,5.0,4.0,5.0,3.0,1.0,3.0,1.0,2.0,1.0,1.0,2,5,2,2,3,3,3,1,4,1,6,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,1,5,5
30874,NaN,Lithuania,7.0,4.0,6.0,4.0,2.0,3.0,5.0,2.0,2.0,1.0,4,5,3,3,4,4,3,1,2,6,3,3.0,4.0,2,3.0,7.0,2.0,2.0,5.0,1,3,5
30885,NaN,Lithuania,7.0,4.0,7.0,2.0,2.0,1.0,4.0,1.0,2.0,3.0,2,2,8,3,2,2,2,3,1,6,3,5.0,6.0,3,1.0,5.0,NaN,NaN,NaN,2,3,3
39126,NaN,Russian Federation,8.0,3.0,2.0,2.0,3.0,2.0,2.0,3.0,4.0,4.0,2,2,2,2,2,2,2,3,2,6,4,4.0,7.0,4,2.0,6.0,3.0,7.0,2.0,3,2,3
39128,NaN,Russian Federation,6.0,3.0,4.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,3,3,2,2,1,1,1,1,2,6,2,2.0,3.0,2,3.0,4.0,3.0,4.0,3.0,3,3,3
41553,NaN,Sweden,10.0,5.0,5.0,5.0,2.0,2.0,5.0,1.0,2.0,2.0,3,3,3,3,3,3,3,3,1,6,3,5.0,6.0,3,0.0,7.0,5.0,4.0,6.0,1,1,1
41557,NaN,Sweden,10.0,4.0,5.0,3.0,2.0,3.0,4.0,2.0,4.0,5.0,2,3,2,2,2,2,2,2,2,6,3,3.0,7.0,2,5.0,5.0,7.0,4.0,1.0,3,2,3
41562,NaN,Sweden,10.0,3.0,2.0,5.0,4.0,4.0,5.0,1.0,3.0,4.0,2,2,4,5,3,2,4,4,1,6,5,4.0,10.0,5,0.0,2.0,4.0,8.0,1.0,2,1,1
43134,NaN,Slovenia,9.0,5.0,3.0,3.0,3.0,2.0,3.0,1.0,1.0,2.0,2,3,2,3,2,2,2,4,1,6,3,4.0,7.0,3,0.0,6.0,4.0,4.0,6.0,2,1,2
43145,NaN,Slovenia,10.0,5.0,9.0,4.0,4.0,3.0,1.0,2.0,2.0,2.0,3,2,3,4,5,3,5,4,2,6,4,4.0,6.0,4,3.0,10.0,3.0,6.0,4.0,4,3,2
43156,NaN,Slovenia,10.0,6.0,9.0,3.0,2.0,4.0,5.0,2.0,2.0,2.0,3,4,3,4,3,3,3,4,1,6,4,3.0,8.0,4,6.0,8.0,6.0,6.0,8.0,3,1,3
43167,NaN,Slovenia,10.0,4.0,6.0,2.0,3.0,2.0,3.0,1.0,1.0,2.0,2,2,2,2,3,2,2,2,2,6,1,3.0,0.0,2,5.0,6.0,1.0,1.0,0.0,5,1,5
43178,NaN,Slovenia,8.0,6.0,5.0,3.0,NaN,2.0,4.0,1.0,1.0,2.0,2,2,3,3,3,3,3,3,1,6,3,3.0,4.0,3,4.0,4.0,2.0,NaN,1.0,3,2,2

### iniziamo la pulizia delle variabili numeriche

In [22]:
var_cli=var[var['Group'].str.contains('Climate', na=False)]
var_cli.shape
var_cli=var_cli[["Name", "Label", "Question"]]
var_cli.sample(5)

,Name,Label,Question
190,wrntdis,"How worried, energy supply interrupted by natural disasters or extreme weather",D15-17 How worried are you that energy supplies could be\ninterrupted... ...by natural disasters or extreme weather?
194,clmchng,Do you think world's climate is changing,D19 You may have heard the idea that the world's climate is changing due\nto increases in temperature over the past 100 years. What is your personal opinion on this? Do you think the world's climate is changing?
189,wrdpfos,"How worried, [country] too dependent on fossil fuels","D14 How worried are you about [country] being too dependent on using energy generated by fossil fuels such as oil, gas and coal?"
196,clmthgt2,How much thought about climate change before today,D21 How much have you thought about climate change before today?
182,elgnuc,How much electricity in [country] should be generated from nuclear power,elgnuc?

In [23]:
climate.sample(5)

,idno,cntry,eneffap,rdcenr,cflsenr,elgcoal,elgngas,elghydr,elgnuc,elgsun,elgwind,elgbio,wrpwrct,wrenexp,wrdpimp,wrdpfos,wrntdis,wrinspw,wrtcfl,wrtratc,clmchng,clmthgt1,clmthgt2,ccnthum,ccrdprs,wrclmch,ccgdbd,lkredcc,lklmten,gvsrdcc,ownrdcc,inctxff,sbsrnen,banhhap
33126,21231133.0,Netherlands,10.0,5.0,7.0,4.0,4.0,2.0,5.0,2.0,2.0,2.0,2,2,2,2,3,2,3,2,2,6,4,3.0,8.0,2,4.0,4.0,4.0,5.0,4.0,5,2,2
21575,3200.0,Hungary,8.0,3.0,10.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,3,3,4,2,4,4,5,5,1,6,3,5.0,6.0,4,1.0,5.0,10.0,8.0,6.0,1,1,2
3050,1898.0,Belgium,10.0,4.0,7.0,4.0,2.0,1.0,5.0,1.0,1.0,1.0,5,5,4,4,2,4,3,4,1,6,5,4.0,8.0,5,2.0,8.0,8.0,3.0,8.0,5,1,1
29961,3721.0,Italy,NaN,NaN,NaN,4.0,4.0,3.0,5.0,1.0,1.0,1.0,8,8,8,8,8,8,8,8,1,6,2,5.0,5.0,2,5.0,4.0,4.0,5.0,5.0,8,8,8
35429,1613.0,Norway,7.0,3.0,6.0,3.0,3.0,1.0,3.0,1.0,1.0,3.0,2,3,3,4,4,3,4,4,2,6,3,3.0,6.0,3,4.0,7.0,5.0,6.0,5.0,4,3,2

In [ ]:
# per ogni variabile guardare i valori, capire se trasformarla in intero e capire il significato (utilizzando var_cli)
# Ripeter i passaggi per ogni variabile, senza riscriverle tutte. Per metto insieme tutti i significati.

### da eneffap a elghydr

In [24]:
climate.iloc[:, :8].sample(5)

,idno,cntry,eneffap,rdcenr,cflsenr,elgcoal,elgngas,elghydr
8596,10004214.0,Germany,7.0,3.0,10.0,4.0,3.0,1.0
30241,4310.0,Italy,10.0,4.0,8.0,NaN,NaN,1.0
3969,570.0,Switzerland,8.0,5.0,9.0,4.0,3.0,2.0
16299,13334.0,Finland,8.0,4.0,8.0,3.0,3.0,2.0
22364,512.0,Ireland,8.0,4.0,5.0,5.0,3.0,2.0

In [25]:
climate["elghydr"].value_counts(dropna=False)

elghydr
2.0    16466
1.0    12231
3.0     8735
4.0     3341
NaN     2502
5.0     1112
Name: count, dtype: int64

In [26]:
climate['eneffap'] = climate['eneffap'].astype('Int32')
climate['rdcenr'] = climate['rdcenr'].astype('Int32')
climate['cflsenr'] = climate['cflsenr'].astype('Int32')
climate['elgcoal'] = climate['elgcoal'].astype('Int32')
climate['elgngas'] = climate['elgngas'].astype('Int32')
climate['elghydr'] = climate['elghydr'].astype('Int32')

In [27]:
var_cli[var_cli["Name"].isin(["eneffap", "rdcenr", "cflsenr", "elgcoal", "elgngas", "elghydr"])]

,Name,Label,Question
176,eneffap,How likely to buy most energy efficient home appliance,"D1 If you were to buy a large electrical appliance for your home, how likely is it that you would buy one of the most energy efficient ones?"
177,rdcenr,How often do things to reduce energy use,"D2 There are some things that can be done to reduce energy use, such as switching off appliances that are not being used, walking for short\njourneys, or only using the heating or air conditioning when really needed. In your daily life, how often do you do things to reduce your energy use?"
178,cflsenr,How confident you could use less energy than now,"D3 Overall, how confident are you that you could use less energy than you do now?"
179,elgcoal,How much electricity in [country] should be generated from coal,elgcoal?
180,elgngas,How much electricity in [country] should be\ngenerated from natural gas,D4-10 The highlighted box at the top of this card shows a number of energy sources that can be used to generate\nelectricity. Please take a moment to look over them. How much of the electricity used in [country] should be generated from each energy source? And how about natural gas?
181,elghydr,How much electricity in [country] should be\ngenerated from hydroelectric power,elghydr?

In [28]:
climate.rename(columns={'eneffap': 'prob_acquisto_apparecchio_efficiente',
                        'rdcenr': 'freq_azioni_risparmio_energ',
                        'cflsenr': 'confidenza_ridurre_consumo_energ',
                        'elgcoal': 'quota_elettr_da_carbone',
                        'elgngas': 'quota_elettr_da_gas_naturale',
                        'elghydr': 'quota_elettr_da_idroelettrico'}, inplace=True)

In [29]:
"""
'eneffap': prob_acquisto_apparecchio_efficiente (0=assolutamente non probabile, ..., 10=molto probabile)
'rdcenr': 'freq_azioni_risparmio_energ' (1=mai, 6=sempre) posso fare conversione
'cflsenr': 'confidenza_ridurre_consumo_energ' (0=assolutamente non confidente, ..., 10=molto confidente)
per tutte le quote (1=molto grande, 5=nessuna)
"""

"\n'eneffap': prob_acquisto_apparecchio_efficiente (0=assolutamente non probabile, ..., 10=molto probabile)\n'rdcenr': 'freq_azioni_risparmio_energ' (1=mai, 6=sempre) posso fare conversione\n'cflsenr': 'confidenza_ridurre_consumo_energ' (0=assolutamente non confidente, ..., 10=molto confidente)\nper tutte le quote (1=molto grande, 5=nessuna)\n"

In [30]:
label_map = {
    1: "Never",
    2: "Hardly ever",
    3: "Sometimes",
    4: "Often",
    5: "Very often",
    6: "Always"
}
climate["freq_azioni_risparmio_energ"] = climate["freq_azioni_risparmio_energ"].map(label_map, na_action='ignore')

In [31]:
climate.iloc[:, :8].sample(5)

,idno,cntry,prob_acquisto_apparecchio_efficiente,freq_azioni_risparmio_energ,confidenza_ridurre_consumo_energ,quota_elettr_da_carbone,quota_elettr_da_gas_naturale,quota_elettr_da_idroelettrico
37855,110335.0,Portugal,8,Always,7,<NA>,3,2
10950,551600786.0,Estonia,8,Very often,7,4,4,3
17917,3322.0,France,9,Very often,6,4,4,3
37589,7964.0,Poland,10,Often,7,3,2,1
6645,2026.0,Czechia,7,Sometimes,6,4,3,2

In [ ]:
# Tutte queste variabili con elg, dalla domanda 4 alla 10, sono tutte collegate fra loro.

### da elgnuc a elgbio

In [32]:
climate.iloc[:, 8:12].sample(5)

       elgnuc  elgsun  elgwind  elgbio
33825     4.0     2.0      2.0     4.0
33484     5.0     2.0      2.0     2.0
22797     4.0     2.0      2.0     3.0
35661     1.0     3.0      2.0     5.0
17918     4.0     1.0      1.0     1.0

In [33]:
climate["elgwind"].value_counts(dropna=False)

elgwind
1.0    15806
2.0    14835
3.0     7133
4.0     3421
NaN     2163
5.0     1029
Name: count, dtype: int64

In [34]:
climate['elgnuc'] = climate['elgnuc'].astype('Int32')
climate['elgsun'] = climate['elgsun'].astype('Int32')
climate['elgwind'] = climate['elgwind'].astype('Int32')
climate['elgbio'] = climate['elgbio'].astype('Int32')

In [35]:
var_cli[var_cli["Name"].isin(["elgnuc", "elgsun", "elgwind", "elgbio"])]

,Name,Label,Question
182,elgnuc,How much electricity in [country] should be generated from nuclear power,elgnuc?
183,elgsun,How much electricity in [country] should be\ngenerated from solar power,D4-10 The highlighted box at the top of this card shows a number of energy sources that can be used to generate\nelectricity. Please take a moment to look\nover them. How much of the electricity used in [country] should be generated\nfrom each energy source? And how about sun or solar power?
184,elgwind,How much electricity in [country] should be\ngenerated from wind power,D4-10 The highlighted box at the top of this card shows a number of energy sources that can be used to generate\nelectricity. Please take a moment to look over them. How much of the electricity used in [country] should be generated from each energy source? And how about wind power?
185,elgbio,How much electricity in [country] should be generated from biomass energy,elgbio?

In [36]:
climate.rename(columns={'elgnuc': 'quota_elettr_da_nucleare',
                        'elgsun': 'quota_elettr_da_solare',
                        'elgwind': 'quota_elettr_da_eolico',
                        'elgbio': 'quota_elettr_da_biomassa',
                        }, inplace=True)

In [37]:
lista_quote=['quota_elettr_da_carbone', 'quota_elettr_da_gas_naturale', 'quota_elettr_da_idroelettrico', 'quota_elettr_da_nucleare', 'quota_elettr_da_solare',
            'quota_elettr_da_eolico', 'quota_elettr_da_biomassa']

def riclassifica_quantit(val):
    if val in [1, 2]:
        return "Large"
    elif val == 3:
        return "Medium"
    elif val in [4, 5]:
        return "Small"
    else:
        return pd.NA  # mantiene i NaN e i codici fuori scala

for el in lista_quote:
    climate[el] = climate[el].apply(riclassifica_quantit)

In [38]:
climate.iloc[:, 8:12].sample(5)

,quota_elettr_da_nucleare,quota_elettr_da_solare,quota_elettr_da_eolico,quota_elettr_da_biomassa
37059,Small,Large,Large,Medium
30069,Small,Large,Large,Large
10979,Small,Large,Medium,Medium
27228,Small,Large,Large,Large
43332,Small,Large,Large,Large

### da wrpwrct a wrtratc

In [39]:
climate.iloc[:, 12:20].sample(5)

       wrpwrct  wrenexp  wrdpimp  wrdpfos  wrntdis  wrinspw  wrtcfl  wrtratc
42014        2        1        2        3        2        3       3        3
2634         3        5        5        5        3        3       3        5
13528        1        4        4        4        2        3       2        1
25551        3        3        2        2        3        4       4        3
20278        3        3        1        2        3        2       3        4

In [40]:
climate["wrtratc"].value_counts(dropna=False)

wrtratc
2    14307
3    11800
1     7530
4     6767
5     3282
8      655
7       44
9        2
Name: count, dtype: int64

In [41]:
var_cli[var_cli["Name"].isin(["wrpwrct", "wrenexp", "wrdpimp", "wrdpfos", "wrntdis", "wrinspw", "wrtcfl", "wrtratc"])]

,Name,Label,Question
186,wrpwrct,"How worried, power cuts",D11 How worried are you that there may be power cuts in [country]?
187,wrenexp,"How worried, energy too expensive for many people",D12 How worried are you that energy may be too expensive for many people in [country]?
188,wrdpimp,"How worried, [country] too dependent on energy imports",D13 How worried are you about [country] being too dependent on energy imports from other countries?
189,wrdpfos,"How worried, [country] too dependent on fossil fuels","D14 How worried are you about [country] being too dependent on using energy generated by fossil fuels such as oil, gas and coal?"
190,wrntdis,"How worried, energy supply interrupted by natural disasters or extreme weather",D15-17 How worried are you that energy supplies could be\ninterrupted... ...by natural disasters or extreme weather?
191,wrinspw,"How worried, energy supply interrupted by insufficient power generated",D15-17 How worried are you that energy supplies could be\ninterrupted? ...and by insufficient power being generated?
192,wrtcfl,"How worried, energy supply interrupted by technical failures",D15-17 How worried are you that energy supplies could be\ninterrupted? ...and by technical failures?
193,wrtratc,"How worried, energy supply interrupted by terrorist attacks",D18 And how worried are you that energy supplies could be interrupted by terrorist attacks?

In [42]:
climate.rename(columns={'wrpwrct': 'preoccupa_tagli_elettr',
                        'wrenexp': 'preoccupa_energ_troppo_costosa',
                        'wrdpimp': 'preoccupa_dipend_import_energ',
                        'wrdpfos': 'preoccupa_dipend_combust_fossili',
                        'wrntdis': 'preoccupa_interruz_disastri_nat',
                        'wrinspw': 'preoccupa_interruz_produz_insuff',
                        'wrtcfl': 'preoccupa_interruz_guasti_tecnici',
                        'wrtratc': 'preoccupa_interruz_attacc_terror'
                        }, inplace=True)

In [43]:
lista_preocc=['preoccupa_tagli_elettr', 'preoccupa_energ_troppo_costosa', 'preoccupa_dipend_import_energ',
                'preoccupa_dipend_combust_fossili', 'preoccupa_interruz_disastri_nat', 'preoccupa_interruz_produz_insuff',
                'preoccupa_interruz_guasti_tecnici', 'preoccupa_interruz_attacc_terror']

def riclassifica_preoccupazione(val):
    if val in [1, 2]:
        return "Small"
    elif val == 3:
        return "Medium"
    elif val in [4, 5]:
        return "Large"
    elif val in [7, 8, 9]:
        return pd.NA
    else:
        return pd.NA  # gestisce anche eventuali valori fuori scala

for el in lista_preocc:
    climate[el] = climate[el].apply(riclassifica_preoccupazione)

In [44]:
climate.iloc[:, 12:20].sample(5)

,preoccupa_tagli_elettr,preoccupa_energ_troppo_costosa,preoccupa_dipend_import_energ,preoccupa_dipend_combust_fossili,preoccupa_interruz_disastri_nat,preoccupa_interruz_produz_insuff,preoccupa_interruz_guasti_tecnici,preoccupa_interruz_attacc_terror
12306,Small,Medium,Large,Medium,Small,Small,Small,Small
11334,Medium,Medium,Medium,Medium,Medium,Medium,Large,Large
15915,Small,Medium,Medium,Large,Medium,Small,Medium,Small
6951,Small,Large,Small,Small,Large,Small,Medium,Small
7301,Medium,Large,Medium,Large,Medium,Large,Large,Large

### da clmchng a ccrdprs

In [45]:
climate.iloc[:, 20:25].sample(5)

       clmchng  clmthgt1  clmthgt2  ccnthum  ccrdprs
43169        1         6         2      3.0      1.0
11347        1         6         3      3.0      0.0
25443        1         6         3      3.0      0.0
13562        1         6         1      NaN      0.0
5586         3         6         4      3.0      5.0

In [46]:
climate["clmchng"].value_counts(dropna=False)

clmchng
1    24585
2    15764
3     1962
8     1057
4      978
7       38
9        3
Name: count, dtype: int64

In [47]:
climate['ccnthum'] = climate['ccnthum'].astype('Int32')
climate['ccrdprs'] = climate['ccrdprs'].astype('Int32')

In [48]:
var_cli[var_cli["Name"].isin(["clmchng", "clmthgt1", "clmthgt2", "ccnthum", "ccrdprs"])]

,Name,Label,Question
194,clmchng,Do you think world's climate is changing,D19 You may have heard the idea that the world's climate is changing due\nto increases in temperature over the past 100 years. What is your personal opinion on this? Do you think the world's climate is changing?
195,clmthgt1,How much thought about climate change before today,D20 How much have you thought about climate change before today?
196,clmthgt2,How much thought about climate change before today,D21 How much have you thought about climate change before today?
197,ccnthum,"Climate change caused by natural processes, human activity, or both","D22 Do you think that climate change is caused by natural processes, human activity, or both?"
198,ccrdprs,To what extent feel personal responsibility to reduce climate change,D23 To what extent do you feel a personal responsibility to try to reduce climate change?

In [49]:
climate.rename(columns={'clmchng': 'opinione_clima_sta_cambiando',
                        'clmthgt1': 'quanto_ci_pensa_negazionista',
                        'clmthgt2': 'quanto_ci_pensa_non_negazionista',
                        'ccnthum': 'cause_cambiamento_climatico',
                        'ccrdprs': 'responsabilit_personale_clima',
                        }, inplace=True)

In [50]:
label_map = {
    1: "Definitely changing",
    2: "Probably changing",
    3: "Probably not changing",
    4: "Definitely not changing"
}
#
climate["opinione_clima_sta_cambiando"] = climate["opinione_clima_sta_cambiando"].map(label_map)

In [51]:
climate["opinione_clima_sta_cambiando"].value_counts(dropna=False)

opinione_clima_sta_cambiando
Definitely changing        24585
Probably changing          15764
Probably not changing       1962
NaN                         1098
Definitely not changing      978
Name: count, dtype: int64

In [52]:
label_map = {
    1: "Not at all",
    2: "Very little",
    3: "Some",
    4: "A lot",
    5: "A great deal"
    # 69 non inclusi  diventano NaN
}

climate["quanto_ci_pensa_negazionista"] = climate["quanto_ci_pensa_negazionista"].map(label_map)

In [53]:
climate["quanto_ci_pensa_negazionista"].value_counts(dropna=False)

quanto_ci_pensa_negazionista
NaN             43421
Not at all        451
Very little       183
Some              169
A lot             115
A great deal       48
Name: count, dtype: int64

In [54]:
climate["quanto_ci_pensa_non_negazionista"] = climate["quanto_ci_pensa_non_negazionista"].map(label_map)
climate["quanto_ci_pensa_non_negazionista"].value_counts(dropna=False)

quanto_ci_pensa_non_negazionista
Some            16921
A lot           10392
Very little      8168
Not at all       4022
A great deal     3660
NaN              1224
Name: count, dtype: int64

In [55]:
def riclassifica_cause(val):
    if val in [1, 2]:
        return "Natural Processes"
    elif val == 3:
        return "Equally"
    elif val in [4, 5]:
        return "Human Activity"
    else:
        return pd.NA  # gestisce 7, 8, 9 e altri codici fuori scala

climate["cause_cambiamento_climatico"] = climate["cause_cambiamento_climatico"].apply(riclassifica_cause)

In [56]:
climate["cause_cambiamento_climatico"].value_counts(dropna=False)

cause_cambiamento_climatico
Equally              19126
Human Activity       19066
Natural Processes     3693
NaN                   2502
Name: count, dtype: int64

In [57]:
climate["responsabilit_personale_clima"].value_counts(dropna=False)

responsabilit_personale_clima
7       6877
5       6739
8       6036
6       5366
0       3124
10      2837
4       2623
3       2618
<NA>    2460
2       2182
9       2120
1       1405
Name: count, dtype: Int64

In [58]:
climate.iloc[:, 20:25].sample(5)

,opinione_clima_sta_cambiando,quanto_ci_pensa_negazionista,quanto_ci_pensa_non_negazionista,cause_cambiamento_climatico,responsabilit_personale_clima
29134,Definitely changing,NaN,Some,Equally,7
7571,Probably changing,NaN,A lot,Human Activity,8
29860,Probably changing,NaN,A lot,Natural Processes,0
9955,Probably changing,NaN,Some,Equally,7
22818,Definitely changing,NaN,A lot,Natural Processes,5

### da wrclmch a gvsrdcc

In [59]:
climate.iloc[:, 25:30].sample(5)

       wrclmch  ccgdbd  lkredcc  lklmten  gvsrdcc
2893         2     1.0      3.0      4.0      5.0
24054        2     3.0      8.0      NaN      NaN
11280        1     5.0      5.0      0.0      0.0
26825        3     5.0      7.0      3.0      5.0
4188         2     NaN      3.0      3.0      3.0

In [60]:
climate["gvsrdcc"].value_counts(dropna=False)

gvsrdcc
5.0     8216
3.0     5841
4.0     5775
6.0     5748
7.0     4524
2.0     3881
NaN     3309
8.0     2490
0.0     1795
1.0     1542
10.0     651
9.0      615
Name: count, dtype: int64

In [61]:
climate['ccgdbd'] = climate['ccgdbd'].astype('Int32')
climate['lkredcc'] = climate['lkredcc'].astype('Int32')
climate['lklmten'] = climate['lklmten'].astype('Int32')
climate['gvsrdcc'] = climate['gvsrdcc'].astype('Int32')

In [62]:
var_cli[var_cli["Name"].isin(["wrclmch", "ccgdbd", "lkredcc", "lklmten", "gvsrdcc"])]

,Name,Label,Question
199,wrclmch,How worried about climate change,D24 How worried are you about climate change?
200,ccgdbd,Climate change good or bad impact across world,"D25 How good or bad do you think the impact of climate change will be on people across the world? Please choose a number from 0 to 10, where 0 is extremely bad and 10 is extremely good."
201,lkredcc,"Imagine large numbers of people limit energy use, how likely reduce climate change",D26 Now imagine that large numbers of people limited their energy use. How likely do you think it is that this would reduce climate change?
202,lklmten,"How likely, large numbers of people limit energy use",D27 How likely do you think it is that large numbers of people will limit their energy use to try to reduce climate change?
203,gvsrdcc,"How likely, governments enough countries take action to reduce climate change",D28 And how likely do you think it is that governments in enough countries will take action that reduces climate change?

In [63]:
def preoccup_camb_cli(val):
    if val in [1, 2]:
        return "Not Worried"
    elif val == 3:
        return "Somewhat worried"
    elif val in [4, 5]:
        return "Very worried"
    elif val in [7, 8, 9]:
        return pd.NA
    else:
        return pd.NA  # gestisce anche eventuali valori fuori scala

climate["wrclmch"] = climate["wrclmch"].apply(preoccup_camb_cli)

In [64]:
climate.rename(columns={'wrclmch': 'preoccup_camb_clima',
                        'ccgdbd': 'impatto_globale_clima',
                        'lkredcc': 'impatto_rid_energ_larga_scala',
                        'lklmten': 'prob_rid_energ_larga_scala',
                        'gvsrdcc': 'prob_intervent_governi',
                        }, inplace=True)

In [65]:
climate.iloc[:, 25:30].sample(5)

,preoccup_camb_clima,impatto_globale_clima,impatto_rid_energ_larga_scala,prob_rid_energ_larga_scala,prob_intervent_governi
7808,Somewhat worried,3,4,1,1
33153,Very worried,7,4,4,7
30784,Very worried,3,6,3,6
24210,Very worried,0,8,6,8
37734,Not Worried,2,<NA>,<NA>,<NA>

### da ownrdcc a banhhap

In [66]:
climate.iloc[:, 30:].sample(5)

       ownrdcc  inctxff  sbsrnen  banhhap
7028       5.0        2        2        2
17817      2.0        2        1        2
17420      5.0        3        1        4
22758      7.0        2        2        1
5325       1.0        5        3        1

In [67]:
climate["sbsrnen"].value_counts(dropna=False)

sbsrnen
2    17869
1    14669
3     5480
4     3146
5     1819
8     1303
7       95
9        6
Name: count, dtype: int64

In [68]:
climate['ownrdcc'] = climate['ownrdcc'].astype('Int32')

In [69]:
var_cli[var_cli["Name"].isin(["ownrdcc", "inctxff", "sbsrnen", "banhhap"])]

,Name,Label,Question
204,ownrdcc,"How likely, limiting own energy use reduce climate change",D29 How likely do you think it is that limiting your own energy use would help reduce climate change?
205,inctxff,Favour increase taxes on fossil fuels to reduce climate change,"D30-32 To what extent are you in favour or against the following policies in [country] to reduce climate change?\nIncreasing taxes on fossil fuels, such as oil, gas and coal."
206,sbsrnen,Favour subsidise renewable energy to reduce climate change,D30-32 To what extent are you in favour or against the following policies in [country] to reduce climate change?\nUsing public money to subsidise renewable energy such as wind and solar power.
207,banhhap,Favour ban sale of least energy efficient household appliances to reduce climate change,D30-32 To what extent are you in favour or against the following policies in [country] to reduce climate change? A law banning the sale of the least energy efficient household appliances.

In [70]:
lista_tasse=["inctxff", "sbsrnen", "banhhap"]

def riclassifica_tasse(val):
    if val in [1, 2]:
        return "In Favour"
    elif val == 3:
        return "Neither"
    elif val in [4, 5]:
        return "Against"
    elif val in [7, 8, 9]:
        return pd.NA
    else:
        return pd.NA  # gestisce eventuali valori fuori scala

for el in lista_tasse:
    climate[el] = climate[el].apply(riclassifica_tasse)

In [71]:
climate.rename(columns={'ownrdcc': 'efficacia_azione_personale',
                        'inctxff': 'posizione_increm_tasse_fossili',
                        'sbsrnen': 'posizione_sussidi_energ_rinn',
                        'banhhap': 'posizione_divieto_elettrodom_inef'
                        }, inplace=True)

### Fine

In [72]:
climate.sample(5)

,idno,cntry,prob_acquisto_apparecchio_efficiente,freq_azioni_risparmio_energ,confidenza_ridurre_consumo_energ,quota_elettr_da_carbone,quota_elettr_da_gas_naturale,quota_elettr_da_idroelettrico,quota_elettr_da_nucleare,quota_elettr_da_solare,quota_elettr_da_eolico,quota_elettr_da_biomassa,preoccupa_tagli_elettr,preoccupa_energ_troppo_costosa,preoccupa_dipend_import_energ,preoccupa_dipend_combust_fossili,preoccupa_interruz_disastri_nat,preoccupa_interruz_produz_insuff,preoccupa_interruz_guasti_tecnici,preoccupa_interruz_attacc_terror,opinione_clima_sta_cambiando,quanto_ci_pensa_negazionista,quanto_ci_pensa_non_negazionista,cause_cambiamento_climatico,responsabilit_personale_clima,preoccup_camb_clima,impatto_globale_clima,impatto_rid_energ_larga_scala,prob_rid_energ_larga_scala,prob_intervent_governi,efficacia_azione_personale,posizione_increm_tasse_fossili,posizione_sussidi_energ_rinn,posizione_divieto_elettrodom_inef
1361,2671.0,Austria,10,Very often,8,Small,Small,Small,Small,Large,Large,Large,Small,Medium,Small,Medium,Medium,Medium,Medium,Small,Probably changing,NaN,Some,Human Activity,8,Somewhat worried,1,8,6,6,3,Neither,In Favour,In Favour
9261,10006904.0,Germany,7,Often,6,Small,Large,Medium,Small,Medium,Medium,Medium,Small,Small,Small,Small,Small,Small,Small,Small,Probably changing,NaN,Very little,Natural Processes,1,Not Worried,2,0,0,2,3,Against,Neither,In Favour
24589,4593.0,Ireland,9,Sometimes,0,Medium,Small,Small,Small,Large,Small,Medium,Medium,Small,Large,Small,Large,Large,Large,Large,Definitely not changing,Very little,NaN,NaN,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,Against,In Favour,Against
29725,3239.0,Italy,8,Sometimes,6,NaN,Medium,Medium,Small,Large,Large,Large,Small,Medium,Medium,Medium,Small,Small,Small,Medium,Probably changing,NaN,Some,Human Activity,7,Somewhat worried,7,7,7,6,7,In Favour,In Favour,In Favour
35707,2176.0,Norway,0,Sometimes,8,Medium,Small,Large,Medium,Large,Large,Small,Small,Medium,Small,Small,Small,Medium,Medium,Medium,Probably not changing,NaN,Very little,Equally,3,Not Worried,5,8,6,4,1,Against,In Favour,In Favour

In [73]:
climate["cntry"].value_counts()

cntry
Germany               2852
Ireland               2757
Italy                 2626
Israel                2557
Russian Federation    2430
Czechia               2269
Lithuania             2122
France                2070
Estonia               2019
Austria               2010
United Kingdom        1959
Spain                 1958
Finland               1925
Belgium               1766
Poland                1694
Netherlands           1681
Hungary               1614
Sweden                1551
Norway                1545
Switzerland           1525
Slovenia              1307
Portugal              1270
Iceland                880
Name: count, dtype: int64

In [75]:
climate.to_csv("C:\\Users\\Dell\\Desktop\\Final_Assignments_DataViz\\data\\Climate Data Pulito.csv", index=False)

In [ ]:
"""
'eneffap': 'prob_acquisto_apparecchio_efficiente',
'rdcenr': 'freq_azioni_risparmio_energ',
'cflsenr': 'confidenza_ridurre_consumo_energ',
'elgcoal': 'quota_elettr_da_carbone',
'elgngas': 'quota_elettr_da_gas_naturale',
'elghydr': 'quota_elettr_da_idroelettrico',
'elgnuc': 'quota_elettr_da_nucleare',
'elgsun': 'quota_elettr_da_solare',
'elgwind': 'quota_elettr_da_eolico',
'elgbio': 'quota_elettr_da_biomassa',
'wrpwrct': 'preoccupa_tagli_elettr',
 'wrenexp': 'preoccupa_energ_troppo_costosa',
'wrdpimp': 'preoccupa_dipend_import_energ',
'wrdpfos': 'preoccupa_dipend_combust_fossili',
'wrntdis': 'preoccupa_interruz_disastri_nat',
'wrinspw': 'preoccupa_interruz_produz_insuff',
'wrtcfl': 'preoccupa_interruz_guasti_tecnici',
'wrtratc': 'preoccupa_interruz_attacc_terror',
'clmchng': 'opinione_clima_sta_cambiando',
'clmthgt1': 'quanto_ci_pensa_negazionista',
'clmthgt2': 'quanto_ci_pensa_non_negazionista',
'ccnthum': 'cause_cambiamento_climatico',
'ccrdprs': 'responsabilit_personale_clima',
'wrclmch': 'preoccup_camb_clima',
'ccgdbd': 'impatto_globale_clima',
'lkredcc': 'impatto_rid_energ_larga_scala',
'lklmten': 'prob_rid_energ_larga_scala',
'gvsrdcc': 'prob_intervent_governi',
'ownrdcc': 'efficacia_azione_personale',
'inctxff': 'posizione_increm_tasse_fossili',
'sbsrnen': 'posizione_sussidi_energ_rinn',
'banhhap': 'posizione_divieto_elettrodom_inef'
"""